*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Yeon Sung', cursive;
}
.width{
    width: 38%;
    margin: 3% 3% 3% 3%;
    padding: 3% 3% 3% 3%;
    float: left;
}
.width img{
    width: 100%;
    

}
.color{
    color: orange;
}
.link-button{
    text-decoration: none;
    background-color: yellowgreen;
    padding: 5px 10px;
    color: wheat;
    border-radius: 5px;
    font-weight: 700;
}
.images-style{
    width: 50%;
}
.border{
    text-align: center;


}
.images{
    width: 33%;
    float: left;

}
.resize{
    margin-right: 5px;
    margin-bottom: 30px;
    
}
.middle{
    padding-top: 17%;
}
.beautiful{
    width: 55% ;
    float: left;
    margin-left: 5%;

}